{% extends 'admin/master.html' %}

{% block body %}
<div class="container">
    <ins>
        <h3>
            <center>
                Студент: Крылов Эдуард Васильевич
            </center>
        </h3>
    </ins>
    <h4>
        <center>
            Дипломная работа.
        </center>
        <hr size="1">
        <center>
            &#160;&#160;В данное приложение на Flak представляет собой модель Админ панели для работы с файлами
            разных форматов. Так же можно загрузить изображение и программа распознает находящиеся на изображении
            объекты и имеется функция редактирования своего профиля и профили других пользователей и загружать фото на
            аватар.
        </center>
    </h4>
</div>
<footer>
    <p class="bg-light text-center py-3" style="background-color: #43f46f"><b>© 2024, Urban University. Все права
        защищены.</b></p>
</footer>
{% endblock %}